@model IEnumerable<Model.ViewModel.RoomViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css
    {
    <!-- JQuery DataTable Css -->
    <link href="/Assets/admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Sweetalert Css -->
    <link href="/Assets/admin/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
}
@section title
    {
    <title>Danh sách phòng thi</title>
}



<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    DANH SÁCH CÁC PHÒNG THI
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row clearfix">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            int i = 68000 + item.thread.id_thread;
                            string code = "HLU.CNTT." + i.ToString();
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="info-box hover-zoom-effect" style="min-height: 150px;/* min-width: 200px; */">
                                    <div class="icon  bg-cyan" style="padding-top:30px; ">
                                        <a href="/Admin/Thread/Room/@item.room.id_room"> <i class="material-icons">home</i></a>
                                    </div>
                                    <div class="content">
                                        <span class="title">Tên phòng: <b>@item.room.room_name</b></span><br>
                                        <span class="title">Mã kỳ thi: <b>@code</b></span><br>
                                        <span class="title">Kỳ thi: <b>@item.thread.thread_name</b></span><br>
                                        <span class="title">Số câu hỏi: <b>@item.thread.max_question</b> câu</span><br>
                                        <span class="title">Thời gian: <b>@item.thread.time_to_do </b>phút</span><br>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <!--#BODY-->
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->
<!-- Jquery Core Js -->
<script src="/Assets/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Core Js -->
<script src="/Assets/admin/plugins/bootstrap/js/bootstrap.js"></script>
<!-- Select Plugin Js -->
<script src="/Assets/admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Slimscroll Plugin Js -->
<script src="/Assets/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- Waves Effect Plugin Js -->
<script src="/Assets/admin/plugins/node-waves/waves.js"></script>
<!-- SweetAlert Plugin Js -->
<script src="/Assets/admin/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Bootstrap Notify Plugin Js -->
<script src="/Assets/admin/plugins/bootstrap-notify/bootstrap-notify.js"></script>

<!-- Jquery DataTable Plugin Js -->
<script src="/Assets/admin/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!-- Custom Js -->
<script src="/Assets/admin/js/admin.js"></script>

<script src="/Assets/admin/js/pages/ui/dialogs.js"></script>
<script src="/Assets/admin/js/pages/tables/jquery-datatable.js"></script>
@if (TempData["NoticeMessage"] != null)
{


    <script>
        $.notify({

            title: '<strong>Thông báo: </strong> ',
            message: '@TempData["NoticeMessage"]'
        }, {
            type: '@TempData["NoticeType"]',
            delay: 3000,
            template: '<div data-notify="container" class="col-xs-11 col-sm-2 alert alert-{0}" role="alert">' +
                '<span data-notify="title">{1}</span>' +
                '<span data-notify="message">{2}</span>' +
            '</div>'
        });
    </script>

}
<!-- Demo Js -->
<script src="/Assets/admin/js/demo.js"></script>