
@model IEnumerable<Model.ViewModel.SubjectViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css
    {
    <!-- JQuery DataTable Css -->
    <link href="/Assets/admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Sweetalert Css -->
    <link href="/Assets/admin/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
}
@section title
    {
    <title>Quản lý môn học</title>
}
<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    DANH SÁCH CÁC MÔN HỌC
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th style="width: 10%">ID</th>
                                <th style="width: 30%">Tên môn</th>
                                <th style="width: 20%">Số lượng chuyên đề</th>
                                <th style="width: 40%">Tùy chọn</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="row_@item.id_subject">
                                        <td>@Html.DisplayFor(modelItem => item.id_subject)</td>
                                        <td> @Html.DisplayFor(modelItem => item.subject_name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.count_thematic)</td>
                                        <td>
                                            <a href="/Admin/Subject/Detail/@item.id_subject" class="btn btn-info waves-effect"><i class="material-icons">details</i> <span>Chuyên đề</span></a>
                                            <a href="/Admin/Subject/QDetail/@item.id_subject" class="btn btn-cyan waves-effect"><i class="material-icons">question_answer</i> <span>Câu hỏi</span></a>
                                            <a href="/Admin/Subject/Edit/@item.id_subject" class="btn btn-primary waves-effect"><i class="material-icons">edit</i> <span>Chỉnh sửa</span></a>
                                            <a href="/Admin/Subject/Delete/@item.id_subject" class="btn btn-danger waves-effect" data-ajax="true" data-ajax-complete="$('#row_@item.id_subject').remove()" data-ajax-confirm="Bạn có chắc xóa bản ghi này?" data-ajax-method="Delete"><i class="material-icons">delete</i> <span>Xóa</span> </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <a href="/Admin/Subject/Create" class="btn btn-success waves-effect"><i class="material-icons">add</i><span>Thêm</span></a>
                </div> <!--#BODY-->
            </div>
        </div>
    </div>
</div>

<!-- #END# Exportable Table -->
<!-- Jquery Core Js -->
<script src="/Assets/admin/plugins/jquery/jquery.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!-- Bootstrap Core Js -->
<script src="/Assets/admin/plugins/bootstrap/js/bootstrap.js"></script>
<!-- Select Plugin Js -->
<script src="/Assets/admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Slimscroll Plugin Js -->
<script src="/Assets/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- Waves Effect Plugin Js -->
<script src="/Assets/admin/plugins/node-waves/waves.js"></script>
<!-- SweetAlert Plugin Js -->
<script src="/Assets/admin/plugins/sweetalert/sweetalert.min.js"></script>
<!-- Bootstrap Notify Plugin Js -->
<script src="/Assets/admin/plugins/bootstrap-notify/bootstrap-notify.js"></script>

<!-- Jquery DataTable Plugin Js -->
<script src="/Assets/admin/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!-- Custom Js -->
<script src="/Assets/admin/js/admin.js"></script>

<script src="/Assets/admin/js/pages/ui/dialogs.js"></script>
<script src="/Assets/admin/js/pages/tables/jquery-datatable.js"></script>
@if (TempData["NoticeMessage"] != null)
{


    <script>
    $.notify({

        title: '<strong>Thông báo: </strong> ',
        message: '@TempData["NoticeMessage"]'
    }, {
        type: '@TempData["NoticeType"]',
        delay: 3000,
        template: '<div data-notify="container" class="col-xs-11 col-sm-2 alert alert-{0}" role="alert">' +
            '<span data-notify="title">{1}</span>' +
            '<span data-notify="message">{2}</span>' +
        '</div>'
    });
    </script>

}
<!-- Demo Js -->
<script src="/Assets/admin/js/demo.js"></script>