

@model Model.EF.Question
@using Model.EF;

@{
    var Question = Model as Question;
    ViewBag.Title = "Thêm ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section css
    {

    <!-- Wait Me Css -->
    <link href="/Assets/admin/plugins/waitme/waitMe.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="/Assets/admin/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="/Assets/admin/css/style.css" rel="stylesheet">

}
@section title
{
    <title>Sửa câu hỏi của môn @TempData["subject_name"]</title>
}

<div class="block-header">

</div>
<!-- ADD FORM -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    SỬA CÂU HỎI CỦA MÔN @TempData["subject_name"].ToString().ToUpper()
                </h2>
            </div>
            <div class="body">
                @using (Html.BeginForm("QEdit", "Subject", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.id_question)
                    <input data-val="true" id="id_subject" name="id_subject" type="hidden" value="@TempData["id_subject"]" />
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                        @*chon chuyên đề*@
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label>Tên chuyên đề</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-7" style="padding-left: 0px;">

                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.id_thematic, null,
                                       new { @class = "form-control show-tick", data_live_search = "true" })

                                </div>
                                @Html.ValidationMessageFor(model => model.id_thematic, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        @*noi dung cau hỏi*@
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label>Nội dung câu hỏi</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.TextAreaFor(model => model.question_content, new { @class = "form-control no-resize auto-growth", @placeholder = "Nhập nội dung câu hỏi", @required = "required", @autocomplete = "off" })

                                    </div>

                                    @Html.ValidationMessageFor(model => model.question_content, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label>Hình ảnh</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="file" name="file" id="file" />
                                        <img class="col-lg-6 col-md-6 col-sm-12 col-xs-12" src="@Url.Content("~/Assets/img_questions/" + Model.img)" alt="IMAGES" />
                                        <label class="col-lg-6 col-md-6 col-sm-12 col-xs-12"  id="file">@Html.DisplayFor(item => item.img)</label>
                                    </div>
                                    <p style="margin-top: 3px; margin-left: 73px;"><strong>Ghi chú:</strong> Chỉ cho phép upload file<strong> ảnh</strong> và file đó phải có dung lượng dưới 3mb.</p>
                                </div>

                            </div>
                        </div>
                        @* đáp án A *@
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label>Đáp án A</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.EditorFor(model => model.A, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập đáp án A", @required = "required", @autocomplete = "off" } })

                                    </div>

                                    @Html.ValidationMessageFor(model => model.A, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @* đáp án B *@
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label>Đáp án B</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.EditorFor(model => model.B, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập đáp án B", @required = "required", @autocomplete = "off" } })

                                    </div>

                                    @Html.ValidationMessageFor(model => model.B, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @* đáp án C *@
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label>Đáp án C</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.EditorFor(model => model.C, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập đáp án C", @required = "required", @autocomplete = "off" } })

                                    </div>

                                    @Html.ValidationMessageFor(model => model.C, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @* đáp án D *@
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label>Đáp án D</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-7">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.EditorFor(model => model.D, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nhập đáp án D", @required = "required", @autocomplete = "off" } })

                                    </div>

                                    @Html.ValidationMessageFor(model => model.D, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        @* đáp án đúng *@
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label>Đáp án đúng</label>
                            </div>
                            <div class="col-sm-4" style="padding-left: 0px; padding-right: 0px;">
                                <div class="col-sm-10" style="padding-left: 0px;">
                                    <select name="correct_answer" id="correct_answer" required>
                                        @if (Question != null && Question.correct_answer == Question.A)
                                        {
                                            <option value="A" selected>A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>
                                        }
                                        else if (Question != null && Question.correct_answer == Question.B)
                                        {
                                            <option value="A">A</option>
                                            <option value="B" selected>B</option>
                                            <option value="C">C</option>
                                            <option value="D">D</option>
                                        }
                                        else if (Question != null && Question.correct_answer == Question.C)
                                        {
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C" selected>C</option>
                                            <option value="D">D</option>
                                        }
                                        else
                                        {
                                            <option value="A">A</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="D" selected>D</option>
                                        }
                                    </select>

                                </div>
                                @Html.ValidationMessageFor(model => model.correct_answer, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*thay đổi không *@
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                                <label>Đổi chỗ đáp án</label>
                            </div>
                            <div class="col-sm-4" style="padding-left: 0px; padding-right: 0px;">
                                <div class="col-sm-10" style="padding-left: 0px;">
                                    <select name="is_change" id="is_change" required>
                                        @if (Question != null && Question.is_change == 1)
                                        {
                                            <option value="1" selected>Có</option>
                                            <option value="0">Không</option>
                                        }

                                        else
                                        {
                                            <option value="1">Có</option>
                                            <option value="0" selected>Không</option>
                                        }
                                    </select>

                                </div>
                                @Html.ValidationMessageFor(model => model.is_change, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn bg-orange waves-effect">
                                    <i class="material-icons">save</i>
                                    <span>Lưu</span>
                                </button>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-6">

                            </div>
                        </div>
                    </div>
                }

                <div>

                    <a href="/Admin/Subject/QDetail/@TempData["id_subject"]" class="btn bg-light-blue waves-effect"><i class="material-icons">navigate_before</i><span>Trở về</span></a>
                </div>
            </div>
            <!--#BODY-->
        </div>
    </div>
</div>

<!-- #END# ADD FORM -->
<!-- Jquery Core Js -->
<script src="/Assets/admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap Core Js -->
<script src="/Assets/admin/plugins/bootstrap/js/bootstrap.js"></script>
<!-- Select Plugin Js -->
<script src="/Assets/admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<!-- Slimscroll Plugin Js -->
<script src="/Assets/admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<!-- Waves Effect Plugin Js -->
<script src="/Assets/admin/plugins/node-waves/waves.js"></script>
<!-- Autosize Plugin Js -->
<script src="/Assets/admin/plugins/autosize/autosize.js"></script>
<!-- Moment Plugin Js -->
<script src="/Assets/admin/plugins/momentjs/moment.js"></script>
<!-- Bootstrap Notify Plugin Js -->
<script src="/Assets/admin/plugins/bootstrap-notify/bootstrap-notify.js"></script>

<!-- Custom Js -->
<script src="/Assets/admin/js/admin.js"></script>
<script src="/Assets/admin/js/pages/forms/basic-form-elements.js"></script>
@if (TempData["NoticeMessage"] != null)
{


    <script>
    $.notify({

        title: '<strong>Thông báo: </strong> ',
        message: '@TempData["NoticeMessage"]'
    }, {
        type: '@TempData["NoticeType"]',
        delay: 3000,
        template: '<div data-notify="container" class="col-xs-11 col-sm-2 alert alert-{0}" role="alert">' +
            '<span data-notify="title">{1}</span>' +
            '<span data-notify="message">{2}</span>' +
        '</div>'
    });
    </script>

}

<!-- Demo Js -->
<script src="/Assets/admin/js/demo.js"></script>
